<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Vue-->
    <script src="./vue.js"></script>

    <!--font-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!--Css-->
    <link rel="stylesheet" href="./style.css" />

    <title>Techno</title>
  </head>
  <body>
    <!--div-app-->
    <div id="app">
      <!--header-->
      <header class="header">
        <!--logo-->
        <img class="logo" src="./assets/techno.svg" alt="techno" />
        <!--/ logo-->

        <div class="carrinho-menu" @click="activeCar = true">
          {{totalCar | priceNumber}} | {{car.length}}
        </div>
      </header>
      <!--/ header-->

      <!--section produtos -->
      <section class="produtos">
        <!--div-produto-->
        <div
          v-for="product in products"
          @click="openModal(product.id)"
          :key="product.id"
          class="produto"
        >
          <img :src="product.img" :alt="product.nome" class="produto-img" />

          <div class="produto-info">
            <span class="produto-preco">{{product.preco | priceNumber}}</span>
            <h2 class="produto-titulo">{{product.nome}}</h2>
          </div>
        </div>
        <!--/ div-produto-->
      </section>
      <!--/ section produtos-->

      <!--modal single-->
      <section class="modal" v-if="singleProduct" @click="closeModal">
        <!--container-->
        <div class="modal-container">
          <div class="modal-img">
            <img :src="singleProduct.img" :alt="singleProduct.nome" />
          </div>
          <!--dados-->
          <div class="modal-dados">
            <button class="modal-fechar" @click="singleProduct = false">
              X
            </button>
            <span class="modal-preco">
              {{singleProduct.preco | priceNumber}}
            </span>
            <h2 class="modal-titulo">{{singleProduct.nome}}</h2>
            <p>{{singleProduct.descricao}}</p>

            <button
              v-if="singleProduct.estoque > 0"
              class="modal-btn"
              @click="addInCar"
            >
              Adicionar Item
            </button>
            <button v-else class="modal-btn esgotado" disabled>
              Produto esgotado
            </button>
          </div>
          <!--/ dados-->
          <div class="avaliacoes">
            <h2 class="avaliacoes-titulo">Avaliações</h2>
            <ul>
              <li
                v-for="avaliacao in singleProduct.avaliacoes"
                class="avaliacao"
              >
                <p class="avaliacao-descricao">{{avaliacao.descricao}}</p>
                <p class="avaliacao-nome">
                  {{avaliacao.nome}} | {{avaliacao.estrelas}} estrelas
                </p>
              </li>
            </ul>
          </div>
        </div>
        <!--container-->
      </section>
      <!--/ modal single-->

      <!--modal carrinho-->
      <section
        class="carrinho-modal"
        :class="{ativo: activeCar}"
        @click="clickWithout"
      >
        <div class="carrinho-container">
          <button class="carrinho-fechar" @click="activeCar = false">X</button>
          <h2 class="carrinho-titulo">Carrinho</h2>
          <div v-if="car.length > 0">
            <ul class="carrinho-lista">
              <li v-for="(item, index) in car" class="carrinho-item">
                <p>{{item.nome}}</p>
                <p class="carrinho-preco">{{item.preco | priceNumber}}</p>
                <button class="carrinho-remover" @click="itemRemove(index)">
                  X
                </button>
              </li>
            </ul>
            <p class="carrinho-total">Total: {{totalCar | priceNumber}}</p>
            <button class="carrinho-finalizar">Finalizar compra</button>
          </div>
          <p v-else>Carrinho vazio</p>
        </div>
      </section>
      <!--/ modal carrinho-->

      <div class="alerta" :class="{ativo: activeAlert}">
        <p class="alerta-mensagem">{{alertMessageString}}</p>
      </div>
    </div>
    <!--/ div-app-->
    <script src="./app.js"></script>
  </body>
</html>
